[flake8]
max-line-length = 100
exclude = 
    __pycache__,
    __init__.py,
    .git,
    .venv,
    venv,
    build,
    dist,
    *.egg-info
# Ignore E203 (whitespace before ':') due to black formatting
extend-ignore = E203
